.orders{

    width:90%;
    margin:30px auto;

}

.orders h2{

    text-align:center;
    margin-bottom:30px;

}

.order-card{

    border:1px solid #ddd;
    padding:20px;
    margin-bottom:25px;
    border-radius:8px;

}

.order-product{

    display:flex;
    gap:20px;
    align-items:center;
    margin-top:15px;
    border-top:1px solid #eee;
    padding-top:15px;

}

.order-product img{

    width:120px;
    height:120px;
    object-fit:contain;

}
.status{

    display:inline-block;
    background:#28a745;
    color:white;
    padding:6px 12px;
    border-radius:20px;
    font-weight:bold;
    margin:10px 0;

}