.product-details{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
    padding:50px;
}

.left{
    width:40%;
}

.left img{
    width:100%;
    height:400px;
    object-fit:contain;
}

.right{
    width:40%;
}

.right h2{
    margin-bottom:10px;
}

.right h3{
    margin-bottom:10px;
}

.right p{
    margin-bottom:15px;
}

.right h4{
    color:green;
    margin-bottom:20px;
}

.right button{
    padding:10px 20px;
    background:black;
    color:white;
    border:none;
    cursor:pointer;
}