.wishlist{
    padding:40px;
}

.wishlist h2{
    text-align:center;
    margin-bottom:30px;
    font-size:32px;
}

.wishlist-item{
    display:flex;
    align-items:center;
    gap:30px;
    padding:20px;
    margin-bottom:20px;
    border:1px solid #ddd;
    border-radius:10px;
    background:#fff;
    box-shadow:0 2px 8px rgba(0,0,0,0.08);
}

.wishlist-item img{
    width:180px;
    height:180px;
    object-fit:contain;
}

.wishlist-details{
    flex:1;
}

.wishlist-details h3{
    font-size:28px;
    margin-bottom:10px;
}

.wishlist-details p{
    color:gray;
    margin:5px 0;
}

.wishlist-details h4{
    color:green;
    margin:15px 0;
    font-size:24px;
}

.wishlist-buttons{
    display:flex;
    gap:15px;
    margin-top:15px;
}

.cart-btn{
    background:black;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:6px;
    cursor:pointer;
}

.cart-btn:hover{
    background:#333;
}

.remove-btn{
    background:#dc3545;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:6px;
    cursor:pointer;
}

.remove-btn:hover{
    background:#b52b38;
}